.box{
    text-align: center;
	padding-bottom: 100px;
	margin: 0 auto;
	margin-top: 64px;
	width: 82%;
}

.managbox{

	background: linear-gradient(to right, firebrick, #FF416C);
    height: 18vh;
    padding: 10px;
    margin: 12px;
    border-radius: 21px;
	transition: transform .2s;
}

.uniform{
	width: 80%;
}

.managwrite {
    margin-top: 64px;
	border-radius: 20px;
	background-color: linear-gradient(to right, firebrick, #FF416C);
	color: #FFFFFF;
	font-size: 21px;
	font-weight: bold;
	padding: 10px 30px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.managtitle{
	margin-top: 64px;
	border-radius: 20px;
	border: 1px solid #FF416C;
	background-color: linear-gradient(to right, firebrick, #FF416C);
	color: #FFFFFF;
	font-size: 21px;
	font-weight: bold;
	padding: 10px 30px;
	letter-spacing: 1px;
	text-transform: uppercase;	background-color: firebrick;
}

.managbox:hover{
	transform: scale(1.02);
}