body{
    background: linear-gradient(to right, #FF4B2B, firebrick);
}

.page{
    font-family: "Montserrat", sans-serif;
	min-height: 99vh;
	display: flex;
	align-items: center;
	justify-content: center;
    color: #fff;
    margin: 0;

}

.box{
    display: flex;
	align-items: center;
	justify-content: center;
    border-radius: 12px;
    width: 100%;
    height: 90vh;
    border-top-left-radius: 21px;
    border-bottom-left-radius: 21px;
}

.projection{
    perspective: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;

}

.screen {
    background: #fff;
    height: 70px;
    width: 70%;
    margin: 15px 0;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255,255,255,0.7);
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.seat {
    background-color: #444451;
    height: 24px;
    width: 30px;
    margin: 3px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;

}

.hover:hover {
    background: #d4d4d4;
}

.seatClicked{
    background-color: #fff;
}

.movieInfo{
    perspective: 1000px;
    width: 50%;
    height: 100%;

}

.posterOkvir{
    position: relative;
    width: 100%;
}

.posterImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 45vh;

}

.title{
    position: absolute;
    right: 0;
    margin-top: 34%;
    color: #fff;
    text-align: center;
    margin-right: 16px;
}

.info{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to left, #FF4B2B, firebrick 40%);
    height: 45vh;
    text-align: center;
}

.writingInfo{
    margin-left: 21px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: white;
}

.ticket{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    background-color: firebrick;
    height: 45vh;
    text-align: center;
}

.ticketButtons{
    padding: 4px;
    text-align: center;
    width: 34%;
    
}

.buttonWriting{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.seatSpan{
    width: 70px;
    border-radius: 24px;
    color: white;
    font-weight: bold;
    background-color: firebrick;
    margin: 4px;
    text-align: center;
}