.form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.errors{
	color: red;
	padding: 0px;
	margin: 0px;
	font-size:smaller;
}

.container{
	text-align: center;
}

.button{
	margin-top: 17px;
}