.box{
	text-align: center;
	padding-bottom: 100px;
	width: 90%;
	margin: 0 auto;
	margin-top: 100px;

}

.grid{
	margin-top: 30px;
}

.searchbox{
	background: linear-gradient(to left, #ff4b2b 75%, firebrick);
	display: flex;
	justify-content: center;


}

.summary{
	color: white;
	font-weight: bold;
	margin: 0px;
}