
.wrapper{
    margin-top: 100px;
    margin-bottom: 100px;
}

.title{
    color: white;
}

.ticketContainer{
    width: 100%;
    align-items: center;
    justify-content: center;
}

.group{
    display: flex !important;
    justify-content: center !important;
    margin: 21px !important;
}

.groupButton{
    background-color: #ff4b2b !important;
    font-weight: bold !important;
    color: white !important;
}

.groupButton:hover{
    background-color: black;
}